.inverted {
  grid-template-rows: repeat(10, 1fr);
  transform: rotateX(180deg);
  transition: transform 0.5s ease;
}

.page-layout {
  text-align: center;
  align-items: center;
}

.table-layout{
    margin-right: auto;
    margin-left: auto;
}
